<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>

    <h1> Add URL </h1>

    <form action="/urls" method="POST" class="text-center" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>

      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">

      <input type="submit" value="Submit">
    </form>

  </body>
</html>