<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>

    <h1> Add URL </h1>
      <div class="row">
        <div>
          <form action="/urls" method="POST" class="form-horizontal">
            <div class="form-group">
              <label for="longURL" class="col-md-2 control-label">Enter a URL:</label>
              <div class="col-md-8">
                <input id="longURL" type="text" name="longURL" placeholder="http://" class="form-control">
              </div>

              <div class="col-md-2">
                <input type="submit" value="Submit" class="btn btn-default">
              </div>

            </div>


          </form>
      </div>
    </div>

  </body>
</html>